[SETTINGS]
controller = 'Microsoft X-Box 360 pad'

[BINDINGS]
takeoff = A
landing = A

pitch = LEFT_STICK
roll = LEFT_STICK

yaw = RIGHT_STICK
altitude_modifier = RIGHT_STICK

take_picture = B
start_video = Y
stop_video = Y

barrel_roll_right = RIGHT_TRIGGER
barrel_roll_left = LEFT_TRIGGER

gimbal_vertical = ARROWS
gimbal_horizontal = ARROWS